/* // @import url("./_var.scss"); */
@import "./var";
@tailwind base;
@tailwind components;
@tailwind utilities;

/* @import "./var"; */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.signUp {
  .image {
    img {
    }
  }
  .FormAccount {
    .createAn {
    }
  }
}
.react-datepicker-wrapper {
  width: 100%;
}

.custom-dropdown {
  transition: background-color 0.3s ease;
}

.custom-dropdown:hover {
  background-color: red !important; /* لتغيير الخلفية إلى اللون الأحمر */
}
.FormAccount {
}
.phoneDirAr {
  direction: rtl;
}
.phoneDirEn {
  direction: ltr;
}

.flag.sy {
  background-image: url("/images/sy2.jpg") !important;
  background-size: cover;
}
.page404 {
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);

  opacity: 0.1;
  font-weight: bold;
}

.mainNav {
  .logo {
  }
  .routes {
    ul {
      li {
        a {
          &:hover {
            font-weight: bold;
            transform: scale(1.04);
            transition: 0.5s;
          }
        }
      }
    }
  }
}
// .chekedSelected {
//   &:hover {
//     span {
//       color: #fff;
//     }
//   }
// }
.aside {
  .asideRoutes {
    transition: 0.5s;
    // transform: scale(1.1);
    &.isActive {
      // background-color: var(--clr-primary);
      background-color: #e1b145;
      font-weight: bold;
    }
  }
}
.routes {
  > ul > li {
    a {
      &.active {
        transform: scale(1.04);
        font-weight: bold;
      }
    }
  }
}
.tableContainer {
  width: calc(100% - 300px);
  position: absolute;
  right: 0;
  &.ar {
    left: 0 !important;
    right: auto;
  }
}
.modern {
  display: grid;
  grid-template-columns: repeat(4, minmax(200px, 1fr));
  gap: 30px;
  @media (max-width: 1536px) {
    grid-template-columns: repeat(3, minmax(200px, 1fr));
    gap: 20px;
  
  }
  @media (max-width: 991px) {
    grid-template-columns: repeat(2, minmax(200px, 1fr));
    gap: 20px;
  
  }
  @media (max-width: 700px) {
    grid-template-columns: repeat(1, minmax(200px, 1fr));
    gap: 20px;
    >div{
      width: 90%;
      margin: 0 auto;
    }
  
  }
  > div {
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.12);
  }
}
